/* The next 4 sections are the styling for the navigation bar and its contents */

nav {
  width: 100vw;
  background-color: rgb(110, 245, 255);
  color: white;
  font-size: 24px;
  padding: 5px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

nav ul li {
  list-style-type: none;
  margin-right: 1em;
}

nav ul li:hover {
  color: rgba(0, 0, 0, 0.705)
}

/* 
Styling for the loginform--setting background color, border color and size, container size, 
and layout for text */

.loginForm {
  width: 50vw;
  background-color: rgb(226, 169, 255);
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;

}

/* This centers the header for the form and sets the font size to one other than default for an H3 tag */

.formHeader {
  text-align: center;
  font-size: 24px;
}

/* This links to a URL to set a background image for the app */
.main {
  background-image: url(https://pikwizard.com/pw/small/970c3e11ba8602759ec1e4a2ff5f9724.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* This is styling the footer at the bottom of the page */
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 14px;
  text-align: center;
}